name: Спецификация и верификация процессоров на Haskell
class: center, middle

.title[{{name}}]

.subtitle[Бонус: как работает PhD в Великобритании]
<br>
.author[Георгий Лукьянов]
.center[[mail@geo2a.info](mail@geo2a.info)]
<br>
.date[8 мая 2018]
<!-- .left-column[
<img style="align:left; width:50%; margin-right: 20em;" src="./img/nu.svg">
]
 -->
---

## План

### Часть 1: Формальная верификация набора команд процессора

1. Архитектура набора команд (Instruction set architecture)
2. Моделирование ISA средствами языка Haskell
3. Примеры верификации программ

### Часть 2: PhD в Великобритании

1. Поступление
2. Чем занимаются в университете Ньюкасла

---

class: center, middle
.title[Архитектура набора команд]

---

class: center, middle

## Текстовая спецификация ISA

<img style="width:90%;" src="./img/intel-dev-manual.png">

.left-column[
* Мнемоника инструкции
* Затрагиваемые сущности (регистры, флаги, etc.)
* Псевдокод семантики
]
.right-column[
<img style="" src="./img/intel-add.png">
]

---

class: center, middle
.title[Haskell-модель процессора]

---

## Составляющие модели

* Язык ассемблера --- Haskell EDSL (Embedded Domain Specific Language)
* Семантика инструкций в терминах преобразователей состояния процессора
* Символьный исполнитель программ</br>(via SBV https://hackage.haskell.org/package/sbv)
* Проверка свойств программ с помощью SMT-солвера

## Примеры свойств

* Статус какого-либо флага (`Overflow`, `Halt`, `OutOfMemory` etc.)
* Время выполнения (число тиков таймера)
* Эквивалентность программ (в терминах результата исполнения)

---
class: center, middle
.title[Состояние процессора и преобразователи состояния]
---
**Определение 1.** Состояние микроархитектуры

$$
S=\\{(r, m, ic, ir, p, f, c) : r \in R,
                               m \in M, ic \in A, ir \in I, p \in P, f \in F, c \in C\\}
$$
```haskell
data MachineState = MachineState { registers           :: RegisterBank
                                 , memory              :: Memory
                                 , instructionCounter  :: InstructionAddress
                                 , instructionRegister :: InstructionCode
                                 , program             :: Program
                                 , flags               :: Flags
                                 , clock               :: Clock }
```
---
count: false
**Определение 1.** Состояние микроархитектуры
$$
S=\\{(r, m, ic, ir, p, f, c) : r \in R,
                               m \in M, ic \in A, ir \in I, p \in P, f \in F, c \in C\\}
$$
```haskell
data MachineState = MachineState { registers           :: RegisterBank
                                 , memory              :: Memory
                                 , instructionCounter  :: InstructionAddress
                                 , instructionRegister :: InstructionCode
                                 , program             :: Program
                                 , flags               :: Flags
                                 , clock               :: Clock }
```
**Определение 2.** Преобразователь состояния

$$
\tau : S \rightarrow S
$$

Функция, отображающая одно состояние в другое.
---
count: false
**Определение 1.** Состояние микроархитектуры
$$
S=\\{(r, m, ic, ir, p, f, c) : r \in R,
                               m \in M, ic \in A, ir \in I, p \in P, f \in F, c \in C\\}
$$
```haskell
data MachineState = MachineState { registers           :: RegisterBank
                                 , memory              :: Memory
                                 , instructionCounter  :: InstructionAddress
                                 , instructionRegister :: InstructionCode
                                 , program             :: Program
                                 , flags               :: Flags
                                 , clock               :: Clock }
```
**Определение 2.** Преобразователь состояния

$$
\tau : S \rightarrow S
$$

Функция, отображающая одно состояние в другое.

```
data Machine a = Machine { transform :: MachineState -> (a, MachineState) }

transformState :: (MachineState -> MachineState) -> Machine ()
transformState f = Machine $ \s -> ((), f s)
```
---
count: false
**Определение 1.** Состояние микроархитектуры
$$
S=\\{(r, m, ic, ir, p, f, c) : r \in R,
                               m \in M, ic \in A, ir \in I, p \in P, f \in F, c \in C\\}
$$
```haskell
data MachineState = MachineState { registers           :: RegisterBank
                                 , memory              :: Memory
                                 , instructionCounter  :: InstructionAddress
                                 , instructionRegister :: InstructionCode
                                 , program             :: Program
                                 , flags               :: Flags
                                 , clock               :: Clock }
```
**Определение 2.** Преобразователь состояния

$$
\tau : S \rightarrow S
$$

Функция, отображающая одно состояние в другое.

```
data Machine a = Machine { transform :: MachineState -> (a, MachineState) }

transformState :: (MachineState -> MachineState) -> Machine ()
transformState f = Machine $ \s -> ((), f s)
```

** Пример:** увеличение значения системных часов

```
delay cycles = transformState $ \(MachineState rs ic ir fs m p  c ->
                                  MachineState rs ic ir fs m p (c + cycles)
```
---
class: center, middle
.title[Как этим пользоваться]
---
.center[**Симуляция ассемблерных программ**]
.center[<img style="width:85%;margin-top:-0.7em;margin-bottom:-0.8em"  src="./img/path_to_assembly.svg">]

---
.center[**Компиляция Haskell в язык ассемблера**]
.center[<img style="width:85%;margin-top:-0.7em;margin-bottom:-0.8em"  src="./img/path_from_haskell_to_assembly.svg">]
---
.center[**Верификация Haskell-программ**]
.center[<img style="width:85%;margin-top:-0.7em;margin-bottom:-0.8em"  src="./img/path_haskell_to_smt.svg">]
---
.center[**Верификация ассемблерных программ**]
.center[<img style="width:85%;margin-top:-0.7em;margin-bottom:-0.8em"  src="./img/path_assembly_to_smt.svg">]
---
class: center, middle
.title[Всё вместе]
---
.center[]
.center[<img style="width:85%;margin-top:-0.7em;margin-bottom:-0.8em"  src="./img/ultimate.svg">]

---
class: center, middle
.title[Пример]

???

Let me demonstrate the usage of the verification framework on an example

---
.center[Верификация арифметических выражений]
.center[<img style="width:85%;margin-top:-0.7em;margin-bottom:-0.8em"  src="./img/example_workflow.svg">]

???

Haskell function -> Typed Language of Expressions -> Assembly -> MachineState transformer -> SMT formula -> Verification result

---
.left-column[
Haskell-код выражения
```
addHaskell :: Integral a => a -> a -> a
addHaskell x y = x + y
```
]

.right-column[
<img src="./img/blocks/haskell.svg">
]
<div style="">__________________________________________________________________________</div>
.left-column[
Компиляция Haskell-кода в язык ассемблера
```
addHighLevel = do
    let x     = read $ IntegerVariable 0
        y     = read $ IntegerVariable 1
        temp  = Temporary 3
        stack = Stack 5
    compile r0 stack temp (addHaskell x y)
    halt
```
]

.right-column[
<img src="./img/blocks/typed-expressions.svg">
]
<div style="">__________________________________________________________________________</div>
.left-column[

Низкоуровневая реализация выражения
```
addLowLevel = do
    let { x = 0; y = 1 }
    ld r0 x
    add r0 y
    halt
```
]
.right-column[
<img src="./img/blocks/assembly.svg">
]
---
Охота на целочисленное переполнение

```
addNoOverflow = do
    x <- forall "t1"
    y <- forall "t2"
    let mem        = initialiseMemory [(0, x), (1, y), (3, 100)]
        finalMachineState = simulate 100 $ boot addHighLevel mem
        result     = readArray (registers finalMachineState) 0
        overflow   = readArray (flags finalMachineState) (flagId Overflow)
    pure $ bnot overflow
```
---
count: false
Охота на целочисленное переполнение

```
addNoOverflow = do
    x <- forall "t1"
    y <- forall "t2"
    let mem        = initialiseMemory [(0, x), (1, y), (3, 100)]
        finalMachineState = simulate 100 $ boot addHighLevel mem
        result     = readArray (registers finalMachineState) 0
        overflow   = readArray (flags finalMachineState) (flagId Overflow)
    pure $ bnot overflow
```

Проверка SMT-солвером...
```
ghci> proveWith z3 addNoOveflow
...
```
---
count: false
Охота на целочисленное переполнение

```
addNoOverflow = do
    x <- forall "t1"
    y <- forall "t2"
    let mem        = initialiseMemory [(0, x), (1, y), (3, 100)]
        finalMachineState = simulate 100 $ boot addHighLevel mem
        result     = readArray (registers finalMachineState) 0
        overflow   = readArray (flags finalMachineState) (flagId Overflow)
    pure $ bnot overflow
```

Проверка SMT-солвером... **BOOM!**
```
ghci> proveWith z3 addNoOveflow
Elapsed time: 0.047s
Falsifiable. Counter-example:
  t1 = 8748242276167214084 :: Int64
  t2 = 8646348300372410368 :: Int64
```
---
count: false
Охота на целочисленное переполнение

```
addNoOverflow = do
    x <- forall "t1"
    y <- forall "t2"
    let mem        = initialiseMemory [(0, x), (1, y), (3, 100)]
        finalMachineState = simulate 100 $ boot addHighLevel mem
        result     = readArray (registers finalMachineState) 0
        overflow   = readArray (flags finalMachineState) (flagId Overflow)
    pure $ bnot overflow
```

Проверка SMT-солвером... **BOOM!**
```
ghci> proveWith z3 addNoOveflow
Elapsed time: 0.047s
Falsifiable. Counter-example:
  t1 = 8748242276167214084 :: Int64
  t2 = 8646348300372410368 :: Int64
```

```
ghci> (8748242276167214084 :: Int64) + (8646348300372410368 :: Int64)
-1052153497169927164
```
---
Ограничение диапазона входных данных

```
addNoOverflow = do
    x <- forall "t1"
    y <- forall "t2"
*   constrain $ x .>= 0 &&& x .<= 10 ^ 6
*   constrain $ y .>= 0 &&& y .<= 10 ^ 6
    let mem        = initialiseMemory [(0, x), (1, y), (3, 100)]
        finalMachineState = simulate 100 $ boot addHighLevel mem
        result     = readArray (registers finalMachineState) 0
        overflow   = readArray (flags finalMachineState) (flagId Overflow)
    pure $ bnot overflow
```
---
count: false
Ограничение диапазона входных данных

```
addNoOverflow = do
    x <- forall "t1"
    y <- forall "t2"
*   constrain $ x .>= 0 &&& x .<= 10 ^ 6
*   constrain $ y .>= 0 &&& y .<= 10 ^ 6
    let mem        = initialiseMemory [(0, x), (1, y), (3, 100)]
        finalMachineState = simulate 100 $ boot addHighLevel mem
        result     = readArray (registers finalMachineState) 0
        overflow   = readArray (flags finalMachineState) (flagId Overflow)
    pure $ bnot overflow
```

Проверка SMT-солвером...
```
ghci> proveWith z3 addNoOveflow
...
```
---
count: false
Ограничение диапазона входных данных
```
addNoOverflow = do
    x <- forall "t1"
    y <- forall "t2"
*   constrain $ x .>= 0 &&& x .<= 10 ^ 6
*   constrain $ y .>= 0 &&& y .<= 10 ^ 6
    let mem        = initialiseMemory [(0, x), (1, y), (3, 100)]
        finalMachineState = simulate 100 $ boot addHighLevel mem
        result     = readArray (registers finalMachineState) 0
        overflow   = readArray (flags finalMachineState) (flagId Overflow)
    pure $ bnot overflow
```

Проверка SMT-солвером... OK.
```
ghci> proveWith z3 addNoOveflow
Elapsed time: 0.029s
Q.E.D.
```
---
class: center, middle
.title[Livecoding]

---
class: center, middle

.title[Применимость модели]
---

# Что можно верифицировать

* Арифметика с целыми числами и фиксированной точкой (отсутствие переполнения, корректность результата, etc.)
* Ограниченные циклы, например сумма элементов статического массива
* Если программа завершается, то она завершается за $n$ тиков системных часов

# Что верифицировать тяжело и невозможно

* "Большие" (отсортировать массив из 50 чисел) задачи требуют много времени
* Неограниченные циклы (hello Halting, my old friend)

???

Unbounded loops are hard to deal with

If the halting of the program starts to depend on a symbolic value,
we are in trouble

SAT is NP complete, thats the very property of the problem to be exploited to solve
various computationally equivalent problems. However, factorising numbers still takes time.

---
class: center, middle

.title[Заключение]
---
## Обзор модели

* ~2000 LOC, Haskell
* Язык ассемблера как EDSL в Haskell
* Proof-of-concept "компилятор" высокоуровневого языка в ассемблерный EDSL
* Символьные вычисления для проверки свойств программ
* Проверка эквивалентности программ

### Ещё фичи

* Анализ времени выполнения программы
* Кодогенерация в C для массированного параллельного тестирования, как

### Чем хорош Haskell

* Дешёвые и красивые EDSL
* Семантика преобразователей состояния в терминах монады State
* Библиотека SBV для символьных вычислений

---
